.container {
  position: absolute;
  text-align: left;
  color: white;
  top: 0px;
  left: 0px;
  top: 27%;
  left: 10%;
  transform: translate(-5%, -25%);
}
.top-left {
position: absolute;
font-style: bold;
font-size: xx-large;
color: red;
font-weight: 900;
  top: 195px;
  left: 923px;
}

.bottom-left {
  position: absolute;
  font-style: bold;
font-size: xx-large;
color: blue;
font-weight: 900;
  top: 240px;
  left: 923px;
}



.top-right {
  position: absolute;
  font-style: bold;
font-size: xx-large;
color: green;
font-weight: 900;
  top: 195px;
  left: 1340px;
}

.bottom-right {
  position: absolute;
  font-style: bold;
font-size: xx-large;
color: purple;
font-weight: 900;
  top: 240px;
  left: 1340px;
}
